@import "tailwindcss";
@import "@fontsource/poppins/index.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}
.card.center        { z-index: 10; transform: scale(1.08); opacity: 1; }
.card.up-1, .card.down-1  { z-index: 6; transform: translateY(-110px) scale(0.93); opacity: 0.9; }
.card.up-2, .card.down-2  { z-index: 2; transform: translateY(-210px) scale(0.85); opacity: 0.7; }
.card.hidden        { opacity: 0; pointer-events: none; }

@media (max-width: 768px) {
  .card.up-1, .card.down-1 { transform: translateY(-65px) scale(0.93); }
  .card.up-2, .card.down-2 { transform: translateY(-130px) scale(0.85); }
}
